* {
    font-family: 'Montserrat', sans-serif;
}

#naivbar {
    background-color: black;
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
}

#naivbar h1 {
    color: red;
    font-size: 40px;
    margin: 10px;
    text-shadow: 2px 2px 8px #0b0b0b;
}

#naivbar div {
    width: 50%;
    justify-content: center;
    /* border: solid 2px rgb(9, 239, 9); */
}

#naivbar>:first-child {
    text-align: center;
}
#naivbar div ul{
    display: flex;
}


#naivbar div ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    margin: 10px;
    font-size: 17px;
    align-items: center;
    /* display: none; */
    /* border: solid 2px blue; */
    padding: 5px;
}

#naivbar div ul li a:hover {
    color: red;
    font-size: 18px;
    margin: 8px;

}

/* #naivbar :last-child{
    width: 10%;
} */

.mobile-navbar-btn{
    display: none;
    text-align: end;
    padding-right: 40px;
}
.mobile-nav-icon{
    color: white;
    font-size: 3rem;
   /* border: solid 2px yellow; */
   

}
 /*

/* @media only screen and (max-width: 600px) and (min-width: 400px) {...} */

 @media only screen and (max-width:1060px) and
(min-width:750px) {
    #naivbar div a:hover {
        font-size: 13px;
        margin: 6px;
    }

    #naivbar div a {
        font-weight: 400;
        margin: 8px;
        font-size: 12px;
    }

    #naivbar h1 {
        font-size: 35px;
        margin: 10px;
    }
}
 
@media only screen and (max-width:749px) and
(min-width:580px) {
    #naivbar div a:hover {
        font-size: 8px;
        margin: 8px;
    }

    #naivbar div a {
        font-weight: 400;
        margin: 8px;
        font-size: 8px;
    }

    #naivbar h1 {
        font-size: 28px;
        margin: 7px;
    }
}

@media only screen and (max-width:580px) and
(min-width:320px) {
    .dekstop-navbar-btn{
        display: none;
    }
    .mobile-navbar-btn{
        display: block;
        text-align: end;
        padding-right: 40px;
    }

    #naivbar h1 {
        font-size: 24px;
        margin: 10px;
    }
}

#Home {
    display: flex;
    justify-content: space-between;
    border: solid 2px red;
     margin-top: 23px;
     padding-top: 30px;
     background-image: url(./Image/backgraund-3.jpg);
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
#Home div{
    width: 70%;
   color: white;
   text-align: center;
   align-items: center;
   border :solid 1px green;
   padding-top: 70px;
   font-size: 36px;
}
#Home > :first-child{
    width: 30%;
}
#Home div h1{
    color: red;
}
#Home div h1,h4{
    margin: 13px;
    text-shadow: 2px 2px 8px #0b0b0b;
}
#Home div button{
    font-size: 24px;
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 7px 18px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    border-color:2px solid white;
}

#Home div button:hover{
    background-color: rgba(255, 0, 0, 0.495);
}
#About {
    /* background-color: rgb(201, 32, 32); */
    height: 500px;
}
@media screen and (max-width:960) and (min-width:700) {
    #Home{
        
    }
}
 
